.container{
    background-color: black;
    padding: 20px;
    border:1px solid #ccc;
    border-radius: 5px;

}

.p1{
    color: orange;
    font-size: 16px;
    margin-bottom: 0;
}
.p2{
    color: pink;
    font-size: 16px;
    margin-bottom: 0;
}